button {
    margin-top: 10px;
    width: 100px;
    height: 50px; 
}
body{
    background-color: black;
}
.jumbotron{
    background-color: black;
    text-align: center;
    color: red;
    margin: 0;
    font-family: 'Bangers', cursive;
}
.well{
    max-width: 100%;
}
.jumbotron h1{
    font-size: 90px !important;
    margin: 0;
}
.box {
    width: 200px;
    height: 100px;
    border: 1px solid white;
    color: black;
    margin-top: 30px;
    border-radius: 15px;
}
.box.green{
    background-color: green;
}
.box.red{
    background-color: red;
}
.box.yellow{
    background-color: yellow;
}
.btn-box h1 {
    margin: 0;
}
.panishment button{
    background-color: red;
}
.protection button{
    background-color: green;
}
.game-over {
    background-color: red;
}
.redish{
    background: -moz-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(240,47,23,0.36) 71%, rgba(246,41,12,0.17) 92%, rgba(231,56,39,0.1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,80,50,1)), color-stop(71%, rgba(240,47,23,0.36)), color-stop(92%, rgba(246,41,12,0.17)), color-stop(100%, rgba(231,56,39,0.1)));
}